/* css variables */
:root{
    --primary:#060914;
    --white:#E4E4E4;
    --highlight:#E50914;
    --mono: monospace;
}


/* base resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* main body */
body{
    background:var(--primary);
    color: var(--white);
}
/* heading */
h1{
    text-align:center;
    margin-top: 1.5rem;
}
/* main section */
main{
    text-align: center;
    margin-top:3.3rem;
}
/* content inside paragraphs */
.content{
    margin-top: 6.7rem;
    font-size:1.3rem;
}
/* class given to transform -origin text inside paragraph */
.property{
    font-family:var(--mono);
}
/* class given to span tags inside paragraph tag */
.xy,.z,.property{
    color: var(--highlight);
    font-family:var(--mono)
}
/* container for the implementation of transform- origin */
.box1{
    height: 241px;
    width:241px;
    border: 1px solid var(--white);
    border-radius:1rem;
    margin:0 auto;
    margin-top:3.7rem;
    display:flex;
    justify-content: center;
    align-items: center;

/* child for the container with class box1 */
}
.box2{
    height: 133px;
    width:133px;
    background-color: var(--highlight);
    border:0px solid var(--highlight);
    border-radius: 5rem;
    transform: rotate(45deg);
    transform-origin: right bottom ;
}
/* utility class */
.p2{
    padding:0.2rem;
}

button{
    margin-top:3rem;
    border-radius: 0.4rem;
    background-color:var(--highlight) ;
    color:var(--white);
}